Repository fairlearn/fairlearn, pull requests merged in 2023-07, with the labels that each got.

#1258 MNT use older numpy version in tensorflow tests to allow tensorflow to run without deprecation errors
  test_othermlpackages/conda-tensorflow.yaml
Labels: dependencies, CI

#1257 MNT fix flake8 issues
  fairlearn/show_versions.py
  test/unit/postprocessing/test_plots.py
Labels: CI, test

#1256 MNT Fix lightgbm test
  requirements-dev.txt
  test_othermlpackages/conda-lightgbm.yaml
Labels: dependencies, CI, test

#1244 Adding custom template for classes and revised API reference index file
  docs/api_reference/index.rst
  docs/conf.py
  docs/templates/class.rst
  fairlearn/show_versions.py
  requirements-dev.txt
  test/unit/postprocessing/test_plots.py
Labels: documentation
